body {
  background-color: #98c1d9;
  font-family: 'Palette Mosaic', cursive;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #3d5a80;
}

a {
  margin-right: 5px;
  margin-left: 5px;
  color: #ee6c4d;
}

a:hover {
  color: #293241;
}

.cal-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 65%;
  max-width: 950px;
}

.math-box {
  width: calc(100% - 10px);
  height: 15%;
  background-color: #293241;
  text-align: end;
  border: none;
  margin: 0;
  padding: 5px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.input-tile {
  height: 55px;
  background-color: #e0fbfc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-weight: 800;
  border: none;
  cursor: pointer;
  color: #293241;
  font-family: 'Palette Mosaic', cursive;
}

.input-tile:hover {
  filter: brightness(95%);
}

.vr {
  border-left: 2px solid #ee6c4d;
  height: 20px;
}

.inputs-card {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.calc-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

article {
  margin: 20px;
  color: #293241;
}

.links {
  display: flex;
}

h2 {
  margin: 20px;
  color: #293241;
}

@media (max-width: 768px) {
  .cal-card {
    width: 90%;
  }

  .calc-elements {
    flex-direction: column;
    align-items: center;
  }

  .header {
    flex-direction: column;
  }
}
